<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="/v1/vendors/bs-5.3.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/v1/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
 
</head>
<body>
   
    <div id="chat-icon">
       
    </div>
 
 
   
    <div id="wrapper">
        <div id="chat-wrapper">
            <div class="chat-header">
                <div class="d-flex align-items-center">
                    <!-- <div class="chatbot-icon-container chatbot-icon"> -->
                    <!-- </div> -->
 
                    <div class="heading">Agile Office </div>
                    <span class="close-icon" id="close-icon" style="margin-left: auto; cursor: pointer;"><i class="fa-regular fa-circle-xmark" style="color: #a0a2a6;"></i></span>
                </div>
            </div>
 
           
 
            <div id="chat-body">
                <div class="container" id="chat-body-messages">
                   
                </div>
            </div>
 
            <div id="chat-footer">
                <div class="container">
                    <form method="POST" id="chat-form" class="d-flex">
                        <input type="text" class="form-control me-2" id="chat-input" name="chat-msg" placeholder="Type here..." />
                        <button type="submit" id="send-btn" class="btn btn-primary">
                            <i class="fa-solid fa-paper-plane" style="color: #00ff99;"></i>
                        </button>
                    </form>
                </div>
            </div>
           
        </div>
    </div>
 
    <script type="text/javascript" src="/v1/js/app.js"></script>
</body>
</html>